*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{}
main{
	position: relative;
	height: 100vh;
}
aside{}
footer{}
.container{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #ccc;
	height: 30%;
	max-width: 500px;
	border-radius: 20px;
}
.container > h1{
	font-size: 1.5em;
	margin: 20px;
	color: darkred;
	text-align: center;
}
.grid-container{
	display: grid;
	width: 70%;
	margin: 0 auto;

}
.grid-item{
	min-height: 20px;
	background-color: green;
	color: yellow;	
	margin: 5px;
	padding: 5px;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #000;
	text-align: center;
	font-size: 1.5em;
}
.grid-item > div{}
.externo{}
