*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{}
main{
	height: 100vh;
	position: relative;
}
aside{}
footer{}
.container{
	background-color: #ccc;
	position: absolute;
	border-radius: 20px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 600px;
	height: 300px;
}
.container > h1{
	color: darkred;
	padding: 10px;
    	font-size: 2em;
	text-align: center;	
}
.grid-container{
	display: grid;
	margin: 0 auto;
	max-width: 400px;
		max-height: 250px;
}
.grid-item{
	background-color: darkcyan;
	color: white;
	font-size: 1.5em;
	padding: 5px;
	margin: 5px;
	text-align: center;
	min-height: 40px;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #000;
}
.grid-item > p{
	text-align: left;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}

