*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{}
main{
	position: relative;
	height: 100vh;
	background: white;
}
aside{}
footer{}

.container{
	position: absolute;
	border-radius: 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-height: 250px;
	max-width: 500px;
	
}
.container > h1{
	color: darkred;
	padding: 10px;
	text-align: center;
}
.grid-container{
	display: grid;
	margin: 0 auto;
	max-width: 400px;
	border: 1px solid #ccc;
}
.grid-item{
	background-color: tomato;
	margin: 5px;
	text-align: center;
	font-size: 1.5em;
}
