*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{}
main{
	position: relative;
	height: 100vh;
}
aside{}
footer{}
.container{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #ccc;
	height: 50%;
	max-width: 500px;
	border-radius: 20px;
}
.grid-container{
	display: grid;
	width: 70%;
	height: 100%;
	margin: 0 auto;
	grid-template-columns: 1fr;
	grid-template-rows: 50px 200px;
	grid-gap: 10px;
	justify-content: center;
	align-content: center;
}
.grid-item{
	text-align: center;
}
.grid-title{
	font-size: 1.5em;
	color: darkred;
	text-align: center;
	background-color: yellow;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #000;
	height: 100%;

	display: grid;
	justify-content: center;
	align-content: center;

}
.grid-paragraph{
	font-size: 2.0em;
	color: white;
	text-align: center;
	background-color: darkcyan;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #000;

	height: 100%;
	
	display: grid;
	justify-content: center;
	align-content: center;
}

.grid-paragraph > p{
	
}
