#...........................................
                C
#...........................................

#...........................................
                CLOJURE
#...........................................

#...........................................
                COBOL
#...........................................

#...........................................
                C++
#...........................................

#...........................................
                CRYSTAL
#...........................................

#...........................................
                C#
#...........................................

#...........................................
                DART
#...........................................

#...........................................
                DOCKER
#...........................................

#...........................................
                ERLANG
#...........................................

#...........................................
                ELIXIR
#...........................................

#...........................................
                FORTRAN
#...........................................

#...........................................
                F#
#...........................................

#...........................................
                GO
#...........................................

#...........................................
                GROOVY
#...........................................

#...........................................
                HASKELL
#...........................................

#...........................................
                JAVA
#...........................................

#...........................................
                NODE
#...........................................

#...........................................
                JULIA
#...........................................

#...........................................
                KOTLIN
#...........................................

#...........................................
                KUBERNETES
#...........................................

#...........................................
                LISP
#...........................................

#...........................................
                LUA
#...........................................

#...........................................
                PASCAL
#...........................................

#...........................................
                PERL
#...........................................

#...........................................
                PHP
#...........................................

#...........................................
                PROLOG
#...........................................

#...........................................
                PYTHON
#...........................................

#...........................................
                R
#...........................................

#...........................................
                RUST
#...........................................

#...........................................
                RUBY
#...........................................

#...........................................
                SCALA
#...........................................

#...........................................
                SHELL
#...........................................

#...........................................
                SQL
#...........................................

#...........................................
                TYPESCRIPT
#...........................................
