*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: black;
	height: 100vh;
	width: 100vw;
}
.big-container{
	display: grid;
	position: relative;
	height: 100%;
	width: 100%;
	grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 1fr 7fr 1fr;
	/* grid-column-gap: 10px;
	grid-row-gap: 10px;	 */
}
header{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	background-color: #ccc;
}
nav{
	grid-column: 1/3;
	grid-row: 2/3;
	background-color: darkgrey;
}
main{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	background-color: white;
}
aside{
	grid-column: 1/2;
	grid-row: 3/4;
	background-color: #ccc;
}
footer{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;
	background-color: darkgrey;
}
.menu-top{}
.menu-aside{}

