*{
	margin: 0;
	padding: 0;
	box-sizing; border-box;
}

header{
	background-color: blue;
	color: white;
}
main{
	background-color: lightgrey;
	color: black;
}
aside{
	background-color: red;
	color: white;
}
footer{
	background-color: purple;
	color: white;
}

.grid-container{
	display: grid;
}

.flex-container{
	display: flex;
}
