*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header{
	background-color: orange;
	color: white;
	text-align: center;
}

main{
	background-color: darkgreen;
	color: white;
	text-align: center;
}

aside{
	background-color: red;
	color: white;
	text-align: center;
}

footer{
	background-color: purple;
	color: white;
	text-align: center;
}
