*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100vw;
	height: 100vh;
	background-color: #1a1a1a;
}
header{
	display:flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 45px;
	background-color: #101010;
	box-shadow: 5px 5px 20px #000;
}
.logo{
	width: 45px;
	height: 45px;
	border-radius: 10px;
	background-image: url("../img/play.png");
	background-size: 40px;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 10px;
	transition: .6s;
}
.logo:hover{
	background-image: url("../img/play-orange.png");
	cursor: pointer;
	transform: translate(0px, -3px);
}
header > ul{
	display: flex;
	justify-content: space-around;
	list-style: none;
}
header > ul > li > a{
	text-decoration: none;
	color: white;
	cursor: pointer;
	display: block;
	padding: 12px;
	transition: .4s;
}
header > ul > li > a:hover{
	color: orange;
	background-color: rgb(66, 65, 64);
	text-shadow: 2px 4px 1px black;
}
header > ul > li{
	transition: .4s;
}
header > ul > li:hover{
	transform: translate(0px, -5px);
}

					/*a main é o grid-container*/
main{
	display: grid;                   
	grid-template-columns: 100vw;
	grid-template-rows: 20vh 80vh;
	justify-content: center;
	
}
				/*o h1 e o section sao os grid-items */

main > h1{             
	font-size: 2em;
	color: white;
	text-align: center;
	padding: 50px;
}
main > section{       /*o section aqui é o flex-container*/
	display: flex;
	margin: 0 auto;
	max-width: 1200px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;	
}
main > section > div{ /*as divs sao os flex-items*/
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 300px;
	margin: 10px;
}
main > section > div > img{
	width: 100%;
	border-radius: 10px;
}

aside{}
footer{}

