*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{}
main{
    background-color: black;
    position: relative;
    height: 100vh;
}
aside{}
footer{}
.grid-container{
    position: absolute;
    max-width: 600px;
    max-height: 500px;
    background-color: white;
    top: 0;
    right:0;
    left: 0;
    bottom: 0;
    margin: auto;
    border-radius: 20px;

    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 25% 25% 25%;
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
}
h1{
    text-align: center;
    font-size: 2em;
    color: white;
    padding: 30px;
    
}
.grid-item{
    
    
}
.grid-item > h2{
    text-align: center;
    padding: 5px;
    font-size: 1.6em
}
.grid-item > p{
    padding: 20px;
}
.externo{
    background-color: darkgreen;
    color: yellow;
    font-size: 2em;
    font-weight: bold;
    font-style: oblique;

}